div.lotto {
  color: white;
  font-weight: bold;
  font-size: 35px;
  height: 100px;
  width: 100px;
  line-height: 100px;
  text-align: center;
  background-color: pink;
  border: 3px solid plum;
  border-radius: 100px;
  margin-right: 20px;
  box-shadow: 10px 10px 10px gray;
  margin-bottom: 20px;
}

div.lotto:hover {
  background-color: rgb(248, 159, 57);
  cursor: pointer;
}
div.lotto:active {
  background-color: rgb(252, 82, 76);
}
