div.lotto {
  color: rgb(59, 54, 54);
  font-weight: bold;
  font-size: 60px;
  height: 130px;
  width: 130px;

  line-height: 130px;
  text-align: center;
  background-color: rgb(255, 255, 194);
  border: 3px solid rgb(216, 218, 101);
  border-radius: 100px;
  margin-right: 20px;
  box-shadow: 10px 10px 10px gray;
}

div.lotto:hover {
  background-color: rgb(248, 159, 57);
  cursor: pointer;
}
div.lotto:active {
  background-color: rgb(252, 82, 76);
}
