.number {
  font-size: 60px;
  color: red;
  font-weight: bold;
}
div.box {
  margin-left: 50px;
  float: left;
  border: 2px solid gray;
  width: 80px;
  border-radius: 30px;
  height: 80px;
  text-align: center;
  vertical-align: middle;
  line-height: 80px;
}
