server:
  port: 9000
spring:
  thymeleaf:
    cache: false
#mysql
  datasource:
        driver-class-name: com.mysql.cj.jdbc.Driver
        url: jdbc:mysql://localhost:3306/spring
        username: chen
        password: admin
#jpa
  jpa:
    hibernate:
        ddl-auto: update
    generate-ddl: true
    show-sql: true
    database: mysql
    database-platform: org.hibernate.dialect.MySQLDialect
